---
layout: default
title: Shopify loop test
description: Testing cycle tag
---
<!-- sizes="(min-width: 1em) 50vw, (min-width: 40em) 25vw, 100vw" -->

<section id="primaryIndex" class="flipper">  

{% for post in site.posts limit:9 %}

  {% assign loopindex = forloop.index | modulo: 2 %}
  {% if loopindex == 1 %}

    <a class="odd"  href="{{ post.url }}"><img class="{% cycle 'shapeA', 'shapeB', 'shapeC', 'shapeD', 'shapeE' %}" src="/assets/i/another_hotel_room.jpg"></a>

  {% else %}

    <a class="even" href="{{ post.url }}"><img class="{% cycle 'shapeA', 'shapeB', 'shapeC', 'shapeD', 'shapeE' %}" src="/assets/i/another_hotel_room.jpg"></a>

    <p class="endOfRow" />

  {% endif %}

{% endfor %}

<hr>

<a class="odd shapeB" href="sausages.html" style="display:inline-block;background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.1) ), url(/assets/i/biker_clem.jpg)"><span class="postTitle">Hello, Portland</span> <span class="metadata">31 January 2016 / by Nina Petropoulos</span></a>

</section>

<main class="portfolio-index">

<h2>Flange</h2>

<ol>
{% for post in site.posts offset:5 %}
<li><a href='{{ post.url }}'>{{ post.title }}</a></li>
{% endfor %}
</ol>

</main>

