---
layout: default
title: Shopify loop test
description: Testing cycle tag
---
<!-- sizes="(min-width: 1em) 50vw, (min-width: 40em) 25vw, 100vw" -->

<!-- 
 post.date |   / by  post.author  
 page.date | date_to_long_string 
-->

<section id="primaryIndex" class="flipper">  

{% for post in paginator.posts limit:8 %}
  {% assign loopindex = forloop.index | modulo: 2 %}
  {% if loopindex == 1 %}

<a class="odd {% cycle 'shapeA', 'shapeB', 'shapeC', 'shapeD', 'shapeE' %}" href="{{ post.url }}" style="display:inline-block;background-size:cover;background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.1) ), url(/assets/i/{{post.thumbnail}})"><span class="postTitle">{{ post.title }}</span> <span class="metadata">{{ post.author }} // {{ post.date | date_to_long_string }}</span></a>

  {% else %}

<a class="even {% cycle 'shapeA', 'shapeB', 'shapeC', 'shapeD', 'shapeE' %}" href="{{ post.url }}" style="display:inline-block;background-size: cover;background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.1) ), url(/assets/i/{{post.thumbnail}})"><span class="postTitle">{{ post.title }}</span> <span class="metadata">{{ post.author }} // {{ post.date | date_to_long_string }}</span></a>

    <p class="endOfRow" />

  {% endif %}
{% endfor %}

<!-- Pagination links -->
<div class="pagination">
  {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path }}" class="previous">Previous</a>
  {% else %}
    <span class="previous">Previous</span>
  {% endif %}
  <span class="page_number ">Page: {{ paginator.page }} of {{ paginator.total_pages }}</span>
  {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path }}" class="next">Next</a>
  {% else %}
    <span class="next ">Next</span>
  {% endif %}
</div>

</section>

<hr>

<main class="portfolio-index">

<h2>Flange</h2>

<ol>
{% for post in site.posts offset:5 %}
<li><a href='{{ post.url }}'>{{ post.title }}</a></li>
{% endfor %}
</ol>

</main>

