
<div class="rule"></div>

<footer>
  <p><a href="mailto:dug@goodlookslikethis.com">dug@goodlookslikethis.com</a></p>
  <ul>
    <li><a href="https://about.me/dug" target="_blank">About.me</a></li>
    <li><a href="https://www.instagram.com/dug" target="_blank">Instagram</a></li>
    <li><a href="https://twitter.com/dug" target="_blank">Twitter</a></li>
    <li><a href="https://uk.linkedin.com/in/goodlookslikethis" target="_blank">Linkedin</a></li>
  </ul>
</footer>

{% if page.title == "Search" %}
<script src="/js/lunr.min.js"></script>
<script src="/js/lunr-feed.js"></script>
{% endif %}

