
<div class="rule"></div>

<footer>
  <p><a href="mailto:ian.kilby@thethingthatiwant.com">ian.kilby@thethingthatiwant.com</a></p>
  <ul>
    <li><a href="https://www.facebook.com/ian.kilby.940" target="_blank">Ian on Facebook</a></li>
    <li><a href="https://www.instagram.com/ian.kilby" target="_blank">Ian on Instagram</a></li>
    <li><a href="https://twitter.com/iankdiabetes" target="_blank">Ian on Twitter</a></li>
  </ul>
</footer>

{% if page.title == "Search" %}
<script src="/js/lunr.min.js"></script>
<script src="/js/lunr-feed.js"></script>
{% endif %}

{% if page.title == "Archival Search" %}
<script src="/js/lunr.min.js"></script>
<script src="/js/lunr-archival-feed.js"></script>
{% endif %}

