<header>

    <a href="/"><img src="/assets/i/iankbroccoli.jpg" alt="Return to the site start page" style="border-radius: 50%; border:5px solid #ddd; width: 65px;height: auto;margin: -20px 0 0 -5px; "></a>

    <nav>
      <a href="/">start</a>
      <a href="/about/">about</a>
      <a href="/archives/">archives</a>
      <a href="/search/">search</a>
    </nav>

<div id="javascriptSlug">

  <script type="text/javascript">
    var searchMessage = "";
    var refstring = document.referrer;
    var n = refstring.indexOf("oogle");

    if (n >= 1) { searchMessage = 'You searched for me in Google'} else { searchMessage = 'You did NOT search' } ;
    searchMessage = '<p>' + searchMessage + '</p>'
    document.write(searchMessage);
  </script>

</div>

</header>




